*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
}
.top-header {
    background: #222222;
    padding: 18px 0;  
}
.center {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header-logo {
    display: flex;
}

.logo {
    width: 44px;
    height: 38px;
    margin: 0 41px 0 0;
}

.header-search-form {
    width: 26px;
    min-height: 26px;
    position: relative;
}

.header-search-btn {
    width: 20px;
    min-height: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -1px;
    left: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}
.search-icon-form-label {
    display: block;
    width: 100%;
    height: 100%;
  }
.search-icon-form-label:hover .search-icon-form-svg {
    fill: gold;
  }
.search-icon-form-label:active .search-icon-form-svg  {
        fill: green
}
.search-icon-form-svg {
    width: 20px;
    min-height: 20px;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.heder-group {
    width: 159px;
    display: flex;
    align-items: center;
    gap: 33px;
}

.hamburger {
    width: 32px;
    height: 23px;
}

.person {
    width: 29px;
    height: 29px;
}

.basket {
    width: 32px;
    height: 29px;
}

.top-page {
    width: 100%;
    min-height: 764px;
    background-color: #F1E4E6;
    padding: 0 0; 
}

.top-page-content {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    min-height: 764px;
    background-image: url(../img/photo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left -225px;
}

.text {
    display: block;
    max-width: 377px;
    width: 100%;
    border-left: 12px #F16D7F solid;padding: 0 0 0 10px; 
}

.title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
}

.page-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.page-title span {
    color: #F16D7F;
}

.categories {
    width: 100%;
    padding: 65px 0 96px 0;
}

.categories-group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-item {
    width: 100%;
    max-width: 360px;
    min-height: 260px;
    margin: 0 0 30px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item:nth-child(1) {
    background-image: url(../img/women.png);
}

.category-item:nth-child(2) {
    background-image: url(../img/men.png);
}

.category-item:nth-child(3) {
    background-image: url(../img/kids.png);
}

.category-item:nth-child(4) {
    width: 100%;
    background-image: url(../img/accesories.png);
}

.category-item4 {
    width: 100%;
    max-width: 1140px;
    height: 260px;
    background-image: url(../img/accesories.png);
    margin: 0 0 30px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-blok {}

.text-item, .title-item {
    display: block;
    width: 100%;
    text-transform: uppercase;
}
.text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.title-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products-catalog {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products-catalog-title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products-catalog-txt {
    text-align: center;
    margin: 6px 0 48px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog {
    max-width: 1140px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.catalog-item {
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
    background: #F8F8F8;
} 

.catalog-photo {
    max-width: 360px;
    width: 100%;
}

.info-item {
    padding: 10px 29px 0 17px;
    display: flex; 
    flex-direction: column;
}

.catalog-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    color: #000000;
}

.catalog-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: #F16D7F;
}

.catalog-btn {
    box-sizing: border-box;
    margin: 48px auto 95px auto;
    max-width: 212px;
    width: 100%;
    min-height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    text-align: center;
    word-break: break-all;
}
.catalog-btn:hover {
    color: #fff;
    background: #F16D7F;
    border: 1px solid #fff;
}

.catalog-btn:active {
    color: #F26376;
     background: #fff;
    border: 1px solid #FF6A6A;
}

.features {
    background-color: #222224;
    width: 100%;
    min-height: 341px;
    box-sizing: border-box;
    padding: 104px 0;
}
.features-list {
    list-style: none;
}
.features-item {
    max-width: 360px;
    width: 100%;
    min-width: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 32px;
}

.features-item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.features-item-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    background-image: url(../img/subscribe.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    min-height: 448px;
    height: 100%;
    display: flex;
}
.subscribe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    max-height: 225px;
}
.subscribe-photo {
    width: 96px;
    height: 96px;
    margin: 0 0 30px 0;
}
.subscribe-txt {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe-form-wrp {
    max-width: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 557px;
    max-height: 142px;
    padding: 0 100px;
}
.subscribe-form-title .subscribe-form-subtitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}
.subscribe-form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
}
.subscribe-form-subtitle {
    margin: 0 0 32px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.subscribe-form {
    display: flex;
    align-items: center;
    min-height: 49px;

}
.subscribe-form-email {
    padding: 17px 45px 17px 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #E1E1E1;
    border: none;
    border-radius: 30px 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    outline: none;
}
.button-form {
    display: block;
    padding: 17px 25px 17px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #E05C6E;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.button-form:hover {
    background-color: #fff;
    color: #E05C6E;
}
  
.button-form:active {
    background-color: #E05C6E;
    color: #fff;
}

.copyright {
    min-height: 79px;
    width: 100%;
    display: flex;
    background-color: #222224;
}
.copyright-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.socials-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 148px;
}

.socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
}

.socials-item svg {
    fill: #000;
    margin: auto;
}

.socials-item:hover svg {
    fill: #F16D7F;
}
  
.socials-item:active {
    background-color: #F16D7F;
}
  
.socials-item:active svg {
    fill: #fff;
}

.socials-item-link {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
}



@media (max-width: 1024px) {
    .center {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }
    .top-page {
        min-height: 368px;
    }
    .top-page-content {
        min-height: 368px;
        background-position: bottom left -5px;
    }
    
    .text {
        max-width: 311px;
        width: 100%;
    }
    .title {
        font-size: 44px;
        line-height: 53px;
    }
    .page-title {
        font-size: 24px;
        line-height: 29px;
    }
    .top-title {
        font-size: 24px;
        line-height: 29px;
    }
    .categories {
        padding: 65px 0 110px 0;
    }
    .categories-group-item {
    display: flex;
    justify-content: center;
    gap: 19px;
    }

    .category-item {
        max-width: 233px;
        min-height: 167px;
        margin: 0 0 0 0;
    }
    .category-item4 {
        max-width: 735px;
        height: 116px;
    }
    .products-catalog-txt {
        margin: 3px 0 73px 0;
    }
    .catalog {
        grid-template-columns: repeat(2, 360px);
        justify-content: center;
        gap: 14px;
    }
    .catalog-btn {
        margin: 32px auto 64px auto;
    }

    .features {
        padding: 48px 20px 64px 20px;
        flex-direction: column;
    }
    .features-list {
        flex-direction: column;
    }
    .features-item {
        margin: 0 auto 48px auto;
    }
    .subscribe {
        background-position: 26% 68px;
        background-size: cover;
        flex-direction: column;
        padding: 64px 0 140px 0;
    }
    .subscribe .center {
        flex-direction: column;
        align-content: center; 
    }
    .subscribe-photo {
        /*padding: 64px 20px 30px 20px;*/
    }
    .subscribe-txt {
        margin: 30px 0 0 0;
    }
    .copyright {
        padding: 0 32px;
    }
    
}
@media (max-width: 768px) {
    .center {
        
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
    }
    .title {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }
    
    .page-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .top-page-content {
        min-height: 363px;
        background-image: none;
    }
    .categories {
        padding: 64px 0 64px 0;
    }
    .category-item {
        max-width: 343px;
        min-height: 247px;
    }
    .category-item4 {
        max-width: 343px;
        height: 111px;
    }
    .products-catalog-txt {
        margin: 3px 0 64px 0;
    }
    .catalog-item {
        max-width: 359px;
        width: 100%;
        margin: 0 8px 16px 8px;
    }
    .catalog {
        display: block;
        justify-content: center;
        
        }
    .catalog-btn {
        margin: 24px auto 96px auto;
    }
    .features {
        padding: 48px 20px 64px 20px;
        flex-direction: column;
    }
    .features-list {
        flex-direction: column;
    }
    .features-item {
        margin: 0 auto 48px auto;
    }
    .subscribe {
        min-height: auto;
        padding: 64px 20px 140px 20px;
        background-position: 26% 68px;
        background-size: cover;
    }
    /*.center {
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
    }*/
    .subscribe-txt {
        margin: 0 0 48px 0;
    }

    .copyright {
        min-height: auto;
        padding: 43px 32px 9px 32px;
    }
    .copyright .center {
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    .copyright-txt {
        order: 2;
        max-width: 251px;
    }
    .socials-list {
        max-width: 147px;
        margin: 0 0 40px 0;
        order: 1;
    }

   

}